:root {
  --background-light: #d7fff8;
  --background-card: #2d4a53;
  --background-card-hover-shadow: #5a636a/0.6;
  --background-card-shadow: #afb3b7/0.3;
  --color-text: #eee;
  --color-text-muted: #020202;
  --color-primary: #cfd4da;
  --color-primary-light: #69818d;
  --color-accent: #58ddd0;
  --color-button-bg: #0d1f23;
  --color-button-bg-disabled: #ff5555;
  --color-error: #ff7070;
  --color-login-bg: #222139;
  --color-close-btn: #fb0202;
  --color-close-btn-hover: #fff;
}

/* Base Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-light);
  color: var(--color-text-muted);
  padding: 20px;
  
}
.content{
  margin-left: 300px;
}

h2,p {
  text-align: center;
  margin-bottom: 2rem;
  
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: var(--color-text);
}

/* Chart Container */
.chart-container {
  background-color: var(--color-button-bg);
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem auto 2rem auto;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.9);
}
.exam-container{
  background-color: var(--color-button-bg);
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem auto;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.9);
}
.chart-container h3, .exam-container h3 {
  color: var(--color-text);
}

canvas{
  color: var(--color-text);
  }

    table {
      width: 100%;
      max-width: 900px;
      margin: auto;
      border-collapse: collapse;
     color: var(--color-text);
    }
    th, td {
      border: 1px solid var(--color-accent);
      padding: 8px 12px;
      text-align: center;   
    }
    td{
       color: var(--color-text-muted);
    }
    .special{
      color: var(--color-text);
      font-weight: bold;
    }
    #rangeFinal, #avgFinal{
      color: var(--color-text);
      font-weight: normal;
    }
    th {
      background: var(--background-card);
      color: var(--color-text);
    }
    tfoot tr {
      font-weight: bold;
      background: var(--background-card);
    }
    
     .data-chart{
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
     }
/* Responsive Adjustments */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  .chart-container {
    padding: 1rem;
  }
  .chart-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
}
}
